<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">

  </head>
  <body>
    <header>
      <div class="container">
        <a href="/"><h1 class="title text-info">Playamaka</h1></a>
        <a href="/playeropts1"><h5 class="text-orange">VIDEO/AUDIO PLAYERS</h5></a>
        <a href="/captions1"><h5 class="text-orange">CAPTION VIDEO IDs</h5></a>
        <a href="/howmany_AD"><h5 class="text-orange">AUDIO DESCRIPTION PLUGIN</h5></a>
        <!-- <a href="/slideshow"><h5 class="text-orange">SLIDESHOW</h5></a> -->
      </div>
    </header>
    <hr>

    {% block content %}
    {% endblock %}

  </body>
</html>
